[buildout]
parts =
    checkversions
    flake8
    templer

extends =
    sources.cfg
    versions.cfg

extensions = 
    mr.developer
    buildout.dumppickedversions

sources = sources
auto-checkout = *
always-checkout = True
unzip = true

[checkversions]
recipe=zc.recipe.egg
eggs=z3c.checkversions [buildout]

[flake8]
recipe = zc.recipe.egg
eggs = flake8
entry-points = flake8=flake8.run:main

[templer]
recipe = zc.recipe.egg
dependent-scripts = true
eggs = sc.dev.core
