[sources]
###############################################################################################
# Developer tools
###############################################################################################
sc.dev.core = git git@github.com:simplesconsultoria/sc.dev.core.git
sc.templer.core = git git@github.com:simplesconsultoria/sc.templer.core.git
sc.templer.buildout = git git@github.com:simplesconsultoria/sc.templer.buildout.git
sc.templer.theme = git git@github.com:simplesconsultoria/sc.templer.theme.git
sc.templer.policy = git git@github.com:simplesconsultoria/sc.templer.policy.git
sc.templer.docs = git git@github.com:simplesconsultoria/sc.templer.docs.git
templer.core = git git@github.com:collective/templer.core.git
templer.plone = git git@github.com:collective/templer.plone.git
templer.plonebuildout = git git@github.com:collective/templer.plonebuildout.git
templer.plone.localcommands = git git@github.com:collective/templer.plone.localcommands.git
